<div class="container p-5 my-5">
  <div class="back-heading">
    <%= link_to goal_path(@goal), class: 'close-btn' do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
    <h1>JOURNAL ENTRIES</h1>
  </div>
  <p><b>TASK <%= @journal_entries.first.task.description %></b></p>
  <% @journal_entries.each do |journal_entry| %>
    <div class="grid-container">
      <div class="col-md-20 mt-2">
        <div class="card shadow-lg border border-2 border-success border-success-subtle p-3 bg-success border-opacity-10 rounded-4 mb-3">
          <div class="card-body bg-success text-wrap" id="container-elements">
            <p><strong><%= journal_entry.entry_date.strftime("%b %d, %Y") %></strong></p>
            <p><%=journal_entry.entry_text %></p>
            <div class="icons">
              <%= link_to edit_journal_entry_path(journal_entry) do %>
                <i class="fa-regular fa-pen-to-square"></i>
              <% end %>
              <%= link_to journal_entry_path(journal_entry), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="spacer"></div>
