<div class="container journal-entry mt-5 rounded-4 p-5 mx-auto">
  <div class="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px ">
        <div class='back-heading'>
          <%= link_to goal_path(@goal), class: 'close-btn' do %>
            <i class="fa-solid fa-arrow-left"></i>
          <% end %>
        <h1>WHAT'S ON YOUR MIND?</h1>
        </div>
        <%= simple_form_for [@goal, @task, @journal_entry] do |f| %>
          <%= f.input :entry_text, label: false %>
          <%= f.hidden_field :entry_date, value: Date.today %>
          <div class="d-flex justify-content-center">
          <%= f.submit "Submit entry", class: 'my-btn' %>
          </div>
        <% end %>
  </div>
  </div>
