<div class="container p-5 mt-5 mb-5">
  <div class="back-heading">
    <%= link_to goals_path, class: 'close-btn' do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
    <h1 style="font-weight: 600">EDIT GOAL</h1>
  </div>
  <%= simple_form_for [@goal] do |f| %>
    <h3 class=""><b><%= f.input :name, label: false %></b></h3>
    <h3 class="mt-3"><b><%= f.input :description %></b></h3>
    <%= f.submit "Update", class: "my-btn mb-3" %>
  <% end %>
</div>
