<div class="container">
    <div class="mt-4 mb-4 ms-4 custom-font">
      <h1 class="fw-bold p-3">Goals</h1>
    </div>
      <% @goals.each do |goal| %>
    <div class="grid-container mx-auto">
        <div class="col-md-7 mb-2 mx-3">
            <div class="card  shadow-lg border border-2 border-success border-success-subtle p-3 mb-5 bg-success border-opacity-10 rounded-4">
              <div class="card-body bg-success  text-wrap", id="container-elements">
                <h2 class="card-title fs-4 fw-bold text-light"><%= goal.name %></h2>
                <%# <p class="card-subtitle mb-2 text-light"><%= goal.description %></p>
                <div class="text-start text-light">
                  <p> <b>Start:</b> <%= goal.start_date %></p>
                </div>
                <div class="text-start text-light">
                  <p><b>End:</b> <%= goal.end_date %></p>
                </div>
                <%# <div class="text-end fw-bold">
                  <%= goal.resources %>
                <%# </div> %>
                <%= goal.time_available %>
                <%= goal.generate_tasks %>
                <div claass= "position-absolute bottom-0 end-0">
                  <%= link_to 'Show', goal_path(goal), class: 'btn btn-info btn-sm' %>
                  <%= link_to 'Edit', edit_goal_path(goal), class: 'btn btn-warning btn-sm' %>
                  <%= link_to 'Delete', goal_path(goal), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
                </div>
              </div>
            </div>
        </div>
      <% end %>

<%# </div> %>
