<div class="container p-4 mb-5">
  <div class='back-heading'>
    <%= link_to root_path, class: 'close-btn' do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
    <h1 class="fw-bold">All My Goals</h1>
  </div>
  <% @goals.each do |goal| %>
    <%= link_to goal_path(goal) do %>
      <div class="goal-card">
        <h2 class="fs-4 secondary-heading text-light"><%= goal.name %></h2>
        <div class="progress-group mb-3">
          <div class="progress">
            <div class="progress-bar" style="width: <%= goal.update_progress %>%;"></div>
          </div>
          <div class="percentage-show"><%= "#{goal.update_progress}%" %></div>
        </div>
        <div class="goal-infos d-flex justify-content-between align-items-center">
          <p class="text-light me-5"> <b>Start:</b> <%= goal.start_date %></p>
          <p class="text-light"><b>End:</b> <%= goal.end_date %></p>
          <div class="icons">
            <%= link_to edit_goal_path(goal) do %>
              <i class="fa-regular fa-pen-to-square"></i>
            <% end %>
            <%= link_to goal_path(goal), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>