<%# <h1>Goals#new</h1>
<p>Find me in app/views/goals/new.html.erb</p> %>


<div class="container mx-10">
  <%= simple_form_for(@goal) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :name, label: "Name of the goal" %>
      <%= f.input :description, label: "Please describe your goal.", as: :text %>
      <%# <%= f.input :start_date, label: "Starting date"%>
      <%# <%= f.input :end_date, label: "End date" %> 
      <input type="hidden" name="user_id" value="user_id">
    </div>

    <div class="form-actions">
      <%= f.submit "Start your journey", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

