
<div data-controller="loading">
  <div class="container card rounded-5 mx-auto my-5 py-5 px-5" data-loading-target= 'form' >
      <h1>Create a Goal</h1>
      <%= simple_form_for(@goal, html: { id:'goal-form'} ) do |f| %>

        <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :name, label: "What is the name of your goal?" %>
            <%= f.input :description, label: "Please describe your goal.", as: :text %>
            <%= f.input :start_date, label: "When do you want to start your goal? (Please add a date in this format: Wednesday 27 September 2023)", as: :date, html5: true %>
            <%= f.input :end_date, label: "When do you want to complete your goal? (Please add a date in this format: Wednesday 27 September 2023)", as: :date, html5: true %>
            <%= f.input :resources, label: "Please list any tools, materials, or support you have at your disposal to help you achieve this goal." %>
            <%= f.input :time_available, label: "Please describe the amount of time you have for your goal per day, week, month, or year." %>
            <%= f.input :generate_tasks, as: :boolean, label: "Create tasks with AI", as: :boolean, checked_value: 'true', unchecked_value: 'false' %>

            <%# <input type="hidden" name="user_id" value="user_id"> %>
          </div>
        <div class="form-actions" data-action="click->loading#showLoadingScreen">
          <%= f.submit "Create" , class: "btn btn-primary", id: "submit-btn" %>
        </div>
    <% end %>
  </div>
      <!-- Loading screen -->
  <div id="loading-screen" class="d-none" data-loading-target="screen">
    <div class="ring"> Achievo
      <span id="loading-text"></span>
    </div>
      <!-- Loading screen -->
  </div>

<!--             <input type="hidden" name="user_id" value="user_id">
          </div>
        <div class="form-actions">
<!--           <%= f.submit "Create" , class: "btn btn-primary" %> -->
<!--         </div> -->
<!-- 
      <div class="form-actions mb-5">
<!--         <%= f.submit "Submit form" , class: "btn btn-success", style: 'color: white;' %> -->
<!--       </div> -->
<!--     <% end %> --> -->
<!--     </div> --> -->

<!--       <div class="form-actions">
<!--         <%= f.submit "Create" , class: "my-btn" %> -->
<!--       </div> --> -->
  <% end %>

</div>
