<h1>Goals#new</h1>
<p>Find me in app/views/goals/new.html.erb</p>

<%= simple_form_for(@goal) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: "What is the name of your goal?" %>
    <%= f.input :description, label: "Please describe your goal.", as: :text %>
    <%= f.input :start_date, label: "I want to achieve this goal starting on #{Goal.start_date} and end on #{Goal.end_date}", as: :date %>
    <%= f.input :status, label: "Please describe the status or progress you have made so far towards achieving your goal.", as: :text %>
    <%= f.input :resources, label: "Please list any tools, materials, or support you have at your disposal to help you achieve this goal.", as: :text %>
    <%= f.input :time_available, label: "Please describe the amount of time you have for your goal per day, week, month, or year.", as: :text %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>

