
<div data-controller="loading">
  <div class="container card rounded-5 mx-auto my-5 py-5 px-5" data-loading-target='form' >
      <h1 class="mb-3">My Next Achievo-ment</h1>
      <%= simple_form_for(@goal, html: { id:'goal-form'} ) do |f| %>

        <%= f.error_notification %>
          <div>
            <h5 class="fw-bold" ><%= f.input :name, label: "What is the name of your goal?" %></h5>
            <h5 class="fw-bold"><%= f.input :description, label: "Describe your goal.", as: :text %></h5>
            <h5 class="fw-bold"><%= f.input :start_date, label: "When do you want to start your goal?", as: :date, html5: true %></h5>
            <h5 class="fw-bold"><%= f.input :end_date, label: "When do you want to complete your goal?", as: :date, html5: true %></h5>
            <h5 class="fw-bold"><%= f.input :resources, label: "List any tools, materials, or support you have at your disposal to help you achieve this goal." %></h5>
            <h5 class="fw-bold"><%= f.input :time_available, label: "Describe the amount of time you have for your goal per day, week, month, or year." %></h5>
          </div>
            <h5 class="fw-bold"v><%= f.input :generate_tasks, as: :boolean, label: "Create tasks with AI", as: :boolean, checked_value: 'true', unchecked_value: 'false' %></h5>
      <div class="form-actions" data-action="click->loading#showLoadingScreen">
        <div class="d-flex justify-content-center">
          <%= f.submit "Create", class: 'my-btn', id: "submit-btn" %>
        </div>
          <% end %>
      </div>
            <!-- Loading screen -->
        <div id="loading-screen" class="d-none" data-loading-target="screen">
          <div class="ring"> Achievo
            <span id="loading-text"></span>
          </div>
            <!-- Loading screen -->
        </div>
  </div>
</div>
