
<div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('list_background.jpg') %>)">
    <h1><%= @goal.name %></h1>
    <p><%=  @goal.description %></p>
    <p><%=  @goal.start_date %></p>
    <p><%=  @goal.end_date %></p>
</div>
