
<div class="container mx-10">
    <h1><%= @goal.name %></h1>
    <h2><%= @goal.description %></h2>
    <%= link_to "View All Journal Entries for: " +  @goal.name.upcase, goal_journal_entries_path(@goal), class: "btn btn-success" %>
  </div>

<div>
    <h2>YOUR ROADMAP</h2>
</div>

<div>
    <% @tasks.each_with_index do |task, index| %>
      <div class="task-card my-3 py-3 border-top">
        <%= task.description %>
        <%= link_to "Create Journal Entry", new_task_journal_entry_path(task), class: "btn btn-success" %>
        <%= simple_form_for task, html: { data: { controller: "tasks" } } do |f| %>
          <%# <%= f.input :completed, as: :boolean, input_html: { data: { task_id: task.id, target: "tasks.completed" } }, label: "Completed" %>

          <%= f.check_box :completed, class: "check_box", onchange: "this.form.submit();", label: "Completed" %>



          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="<%= "#collapseExample#{index}" %>"aria-expanded="false" aria-controls="<%= "collapseExample#{index}" %>">
            View Journal
          </button>
          <div class="collapse" id= "<%= "collapseExample#{index}" %>">
            <% task.journal_entries.each do |journal_entry| %>
              <div class="card card-body">
                <%= journal_entry.entry_text %>
                <%= journal_entry.entry_date %>

                <%= link_to "Edit Entry",  edit_journal_entry_path(journal_entry), class: "btn btn-secondary" %>
                <%= link_to "Delete Entry", journal_entry_path(journal_entry), class: "btn btn-primary", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
              </div>
            <% end %>
          </div>
          <br>
          <br>

        <% end %>
        <%= link_to "Edit", edit_task_path(task), class: "btn btn-success" %>

        <br>
        <br>
        <%= link_to "Delete", task_path(task), class: "btn btn-primary", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>





      </div>
    <% end %>
    <%= link_to "Add Task", new_goal_task_path(@goal), class: "btn btn-primary" %>
  </div>
</div>


<!--goal_task_journal_entries_path(@goal, @task)-->
