<div class="container mx-auto rounded-5 mb-5 mt-5">
  <div class="content mx-5 mb-3 pt-5 pb-3">
      <div class='d-flex justify-content-between'>
    <h1><%= @goal.name %></h1>
    <%= link_to goal_path(@goal), class: 'close-btn' do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
  </div>
    <h3><%= @goal.description %></h3>
    <h2>Tasks</h2>
    <!-- Progress Bar -->
    <div class="progress-group">
      <div class="progress">
        <div class="progress-bar" style="width: <%= @progress %>%;"></div>
          <%= link_to "View All Journal Entries for: " +  @goal.name.upcase, goal_journal_entries_path(@goal), class: "btn btn-success" %>
        <div class="percentage-show"><%= "#{@progress.floor}%" %></div>
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="<%= "#collapseExample#{index}" %>"aria-expanded="false" aria-controls="<%= "collapseExample#{index}" %>">
            View Journal
          </button>
          <div class="collapse" id= "<%= "collapseExample#{index}" %>">
            <% task.journal_entries.each do |journal_entry| %>
              <div class="card card-body">
                <%= journal_entry.entry_text %>
                <%= journal_entry.entry_date %>

                <%= link_to "Edit Entry",  edit_journal_entry_path(journal_entry), class: "btn btn-secondary" %>
                <%= link_to "Delete Entry", journal_entry_path(journal_entry), class: "btn btn-primary", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
              </div>
            <% end %>
          </div>
    <!-- Task Cards -->
    <div class="task-list">
      <%= render partial: "task_list", locals: {tasks: @uncompleted_tasks, goal: @goal} %>
      <%= render partial: "task_list", locals: {tasks: @completed_tasks, goal: @goal} %>
      <div class="mt-4">
        <%= link_to "Add Task", new_goal_task_path(@goal), class: "my-btn" %>
      </div>
    </div>
  </div>
</div>
