<div class="container mx-auto my-5">
  <div class="content mx-5 mb-3 py-5">
      <div class='back-heading mb-5'>
        <%= link_to goals_path, class: 'close-btn' do %>
          <i class="fa-solid fa-arrow-left"></i>
        <% end %>
        <h1><%= @goal.name.upcase %></h1>
      </div>
    <h4><%= @goal.description %></h4>
    <!-- Progress Bar -->
    <div class="progress-group mb-3">
      <div class="progress">
        <div class="progress-bar" style="width: <%= @progress %>%;"></div>
    </div>
      <div class="percentage-show"><%= "#{@progress.floor}%" %></div>
    </div>
  <%= link_to "All Journal Entries", goal_journal_entries_path(@goal), class: "my-btn d-flex justify-content-center" %>

    <!-- Task Cards -->
    <div class="task-list mt-3">
    <h2 class="mt-5 mb-3">TASKS</h2>
      <%= render partial: "task_list", locals: {tasks: @uncompleted_tasks, goal: @goal} %>
      <%= render partial: "task_list", locals: {tasks: @completed_tasks, goal: @goal} %>
      <div class="mt-5">
        <%= link_to "Add Task", new_goal_task_path(@goal), class: "my-btn d-flex justify-content-center" %>
      </div>
    </div>
  </div>
</div>
<div class="spacer">
</div>
