
<%# <div class="container mx-10"> %>
    <%# <h1><%= @goal.name %>
    <%# </h1> %> 
    <%# <h2><%= @goal.description %>
    <%# </h2> %> 
    <%# <h2>Tasks</h2> %>

    <%# <% @tasks.each do |task| %> 
      <%# <div class="task-card my-3 py-3 border-top"> %>
        <%# <%= task.description %>  
        <%# <%= simple_form_for task, html: { data: { controller: "tasks" } } do |f| %> 
          <%# <%= f.input :completed, as: :boolean, input_html: { data: { task_id: task.id, target: "tasks.completed" } }, label: "Completed" %>
        
          <%# <%= f.check_box :completed, class: "check_box", onchange: "this.form.submit();", label: "Completed" %> 
        <%# <% end %> 
        <%# <%= link_to "Edit", edit_task_path(task), class: "btn btn-success" %> 
        <%# <%= link_to "Delete", task_path(task), class: "btn btn-primary", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> 
      <%# </div> %>
    <%# <% end %>  
    <%# <%= link_to "Add Task", new_goal_task_path(@goal), class: "btn btn-primary" %> 

<%# </div> %>

<div class="container mx-10">
  <h1><%= @goal.name %></h1>
  <h2><%= @goal.description %></h2>
  <h2>Tasks</h2>

  <!-- Progress Bar -->
  <div class="progress-group">
    <div class="progress">
      <div class="progress-bar" style="width: <%= @progress %>%;"></div>
    </div>
      <div class="percentage-show"><%= "#{@progress.floor}%" %></div>
  </div>


<%# <div class="container mx-10">
  <div class="container-content">
    <h1><%= @goal.name %>
     <%# <p><%= @goal.description %>
     <%# <p>start: <%= @goal.start_date %>
     <%# <p>finish:<%= @goal.end_date %>
    <%# <div class="mt-3">
      <%= link_to "edit", edit_goal_path(@goal) %>
      <%# <%= link_to "Delete", new_goal_task_path(@goal) %>
    <%# </div> %>

  <%# <h1>Tasks</h1> %>
    <%# <% @tasks.each do |task| %>
      <%# <li><%= task.description %>
      <%# </li> %>
    <%# <% end %>
  <%# </div> %>


    <%# <div class="mt-5">
      <h2>Tasks</h2>
        <%= link_to "Add Task", new_goal_task_path(@goal) %>
      <%# <div class="mx-2">
        <% @tasks.each do |task| %>
          <%# <%= simple_form_for task do |f| %>
            <%# <%= task.description %>
            <%# <%= f.input :completed, { multiple: true, as: :check_boxes } %> <!-- Display step description -->
          <%# <div class="ms-5">
            <%= f.submit "Submit" %>
          <%# </div>
          <% end %>
        <%# <% end %>
      <%# </div>
    </div>
  </div> %>
</div>
            <%# <% @tasks.each_with_index do |step, index| %>
                <%# <%= f.label :completed, "Step #{index + 1}" %>
            <%# <% end %>
<div class="mx-auto rounded-5 mb-5">
  <div class="mx-5 mb-5">
      <h1>Tasks</h1>
    <%= link_to "Add Task", new_goal_task_path(@goal), class: "btn  btn-success text-decoration-none text-white" %>
    <% @tasks.each do |task| %>
      <%= task.name %>
      <p><%= task.description %></p>
        <%= link_to "Edit", edit_task_path(task), class: "btn btn-success text-decoration-none text-white" %>
        <%# <div class=> %>
          <%= link_to "Delete",
          task_path(task), class: "btn btn-dark text-decoration-none text-white",
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
          %>
          <% end %>
        <%# </div> %>
<div class="container mx-10">
    <h1><%= @goal.name %></h1>
    <h2><%= @goal.description %></h2>
    <%= link_to "All Journal Entries", goal_journal_entries_path(@goal), class: "btn btn-success" %>

    <h2>Tasks</h2>


  <!-- Task Cards -->
  <div class="task-list">
    <% @tasks.each do |task| %>
      <div class="task-card my-3 py-3 border-top">

        <div class="tasks-space">
        <%= task.description %>

        <!-- Task Completion Checkbox -->
        <%= simple_form_for task, html: { data: { controller: "tasks" } } do |f| %>

        <%= task.description %>
        <%= link_to "Journal", new_goal_task_journal_entry_path(@goal, task), class: "btn btn-success" %>
        <%= simple_form_for task, html: { data: { controller: "tasks" } } do |f| %>
          <%# <%= f.input :completed, as: :boolean, input_html: { data: { task_id: task.id, target: "tasks.completed" } }, label: "Completed" %>


          <%= f.check_box :completed, class: "check_box", onchange: "this.form.submit();", label: "Completed" %>
        <% end %>
        </div>

        <%= link_to "Edit", edit_task_path(task), class: "btn btn-success" %>
        <%= link_to "Delete", task_path(task), class: "btn btn-primary", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </div>
    <% end %>
  <% end %>


    <%= link_to "Add Task", new_goal_task_path(@goal), class: "btn btn-primary" %>

  </div>

  <!-- Add Task Button -->
  <%= link_to "Add Task", new_goal_task_path(@goal), class: "btn btn-primary" %>
</div>


